<div id="<%= dom_id ticket %>">
  <p>
    <strong>User:</strong>
    <%= ticket.user %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= ticket.category %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= ticket.event_id %>
  </p>

</div>
